[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
ollama = "*"
requests = "*"

[requires]
python_version = "3.12.8"

[dev-packages]
